{% load staticfiles %}
{% load filter_groups %}

{% include 'dashboard/base.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
 <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
            <div class="logo">
                    GRS 
                </a>
                <span class="label bg-info">Academic Year: ( 2018 - 2019 )</span>
            </div>
            <div class="sidebar-wrapper">
                {% include 'dashboard/sidebar/grade_sidebar.html' %}
            </div>
        </div>{% include 'dashboard/navbar.html' %}
            <div class="content">
            <div class="active tab-pane" id="grade">    
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Grade</h4>
                                </div>
                                <div class="card-content">
                                    {% include 'form_error.html' %}
                                <form action="" method="post">{% csrf_token %}
                               <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group label-floating">
                                            <label for="id_name" class="control-label">Name:</label>
                                            <input type="text" name="name" id="id_name" maxlength="250" required="" class="form-control" value="{{form.name.value|default_if_none:''}}" >                                            </div>
                                        </div>
                                    </div>
                                <table class="table">
            <h3>Section</h3>

            {{ grade_section.management_form }}

            {% for form in grade_section.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} grade_section_formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}


        </table>
                <table class="table">
                    <h3>Subject</h3>

            {{ grade_subject.management_form }}

            {% for form in grade_subject.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} grade_subject_formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
       <!-- <button class="btn btn-primary pull-right"><a href="{% url 'school:grade_list' %}" style="color: white;">Back to the list</a></button> -->
        <input type="submit" value="Save" class="btn btn-primary pull-right" />
    </form>
</div>
                    </div> 
                     </div>
                    </div>
                    </div> 
                    </div>
                </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.grade_section_formset_row').formset({
        addText: '<button type="button" class="btn btn-info">Add Section</button>',
        deleteText: '<i class="fa fa-trash-o " aria-hidden="true"></i>',
        prefix: 'section_set'
    });
</script>
<script type="text/javascript">
    $('.grade_subject_formset_row').formset({
        addText: '<button type="button" class="btn btn-info">Add Subject</button>',
        deleteText: '<i class="fa fa-trash-o " aria-hidden="true"></i>',
        prefix: 'subject_grade'
    });
</script>

</div>
            </div>
            </body>
<!--   Core JS Files   -->
{% include 'dashboard/dashboardjs.html' %}
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js' %}
        demo.initDashboardPageCharts();

    });
</script>
<style type="text/css">
    a{
        color: black;
    }
</style>
<script src="{% static 'assets/js/custom.js' %}"></script>
</html>

