                <div class="tab-pane" id="events">
                  <div class="row">
                    {% if perms.home.add_event %}
                    <div class="col-sm-2">
                    <a href="{% url 'home:event_create' %}"><button class="btn btn-info">Add Events</button></a>
                    </div>
                   <!--  <div class="col-xs-4">
                                <a href="{% url 'note_assignment:assignment_list' %}"><button type="button" class="btn bg-purple-300 btn-block btn-float btn-float-lg">
                                    <i class="fa fa-book"></i><br><span>
                                    Add Events</span></button></a>
                            </div> -->
                        {% endif %}
                     <!-- <div class="col-sm-3">
                    <a href="{% url 'home:event_list' %}"><button class="btn btn-info">View Events</button></a>
                    </div> -->
                    {% if perms.home.add_notice %}
                         <div class="col-sm-6">
                    <a href="{% url 'home:notice_create' %}"><button class="btn btn-info pull-right">Add Notices</button></a>
                    </div>
                                    
                            {% endif %}
                    <!-- div class="col-sm-3">
                    <a href="{% url 'home:notice_list' %}"><button class="btn btn-info">View Notices</button></a>
                    </div> -->
                        </div>

                    <!-- Events: {% include 'home/event_list.html'%}<br>
                    Notice: {% include 'home/notice_list.html'%} -->
                        <div class="row">
                        <div class="col-md-12">
                            <div class="panel border-left-xlg border-left-info invoice-grid timeline-content">
                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.js"></script>


                       <div id="calendar"></div>
                      <script type="text/javascript">
                      


        $('#calendar').fullCalendar({
  defaultView: 'agendaWeek',
             
        });
        



 

</script>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel border-left-xlg border-left-info invoice-grid timeline-content">
                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                {% include 'home/notice_list.html' %}
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                        </div>

                    