{% load filter_groups %}
<ul class="nav" id="myTab">
{% if request.user|has_group:"Teacher" or request.user|has_group:"Student" or request.user|has_group:"Guardian" or request.user|has_group:"Admin Assistant" or request.user|has_group:"Principal"%}
                    <li>
                        <a href="{% url 'dashboard:dashboard' %}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    {% endif %}
{% if request.user|has_group:"Teacher" or request.user|has_group:"Student" or request.user|has_group:"Guardian" %}
<li class="active" >
    <a href="/dashboard/#user">
        <i class="material-icons">person</i>
        <p>User Profile</p>
    </a>
</li>
{% endif %}
        {% if request.user|has_group:"Admin Assistant" or request.user|has_group:"Student" or request.user|has_group:"Principal"%}
<li>
    <a href="/dashboard/#grade">
        <i class="material-icons">content_paste</i>
        <p>Grade</p>
    </a>
</li>
{% endif %}
{% if request.user|has_group:"Teacher" or request.user|has_group:"Student" or request.user|has_group:"Guardian" or request.user|has_group:"Principal"%}
<li>
    <a href="/dashboard/#reportcard">
        <i class="material-icons">library_books</i>
        <p>Reportcard</p>
    </a>
</li>
{% endif %}
{% if request.user|has_group:"Teacher" or request.user|has_group:"Principal" %}
<li>
    <a href="/dashboard/#attendance">
         <i class="fa fa-users" aria-hidden="true"></i>
        <p>Attendance</p>
    </a>
</li>
{% endif %}
{% if request.user|has_group:"Teacher" or request.user|has_group:"Student" or request.user|has_group:"Admin Assistant" or request.user|has_group:"Guardian" %}
<li>
    <a href="/dashboard/#notes" >
        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
        <p>Notes and Assignments</p>
    </a>
</li>
{% endif %}
<li>
    <a href="/dashboard/#events">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p>Events and Notices</p>
    </a>
</li>
<li>
     <a href="{% url 'authentication:logout' %}">
        <i class="fa fa-power-off" aria-hidden="true"></i>
        <p>Logout</p>
    </a>
    </li>
</ul>



<!-- {% load filter_groups %}
<ul class="nav">
                    {% if request.user|has_group:"Teacher" or request.user|has_group:"Student" or request.user|has_group:"Guardian" or request.user|has_group:"Admin Assistant" %}
                    <li >
                        <a href="{% url 'dashboard:dashboard' %}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    {% endif %}
                   <li class="active" >
                        <a href="#user" data-toggle="tab">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                </ul> -->