{% load filter_groups %}
<!DOCTYPE html>
<a lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
{% if request.user|has_group:"Teacher" or request.user|has_group:"Admin Assistant" or request.user|has_group:"Principal" %}

{% for attendance in attendance %}

     <a href={% url 'reportcard:attendance_detail' attendance.pk %} class="marksheet"><br>
       {{forloop.counter}}.&nbsp; <span style="color:#000;"> Grade {{ attendance.grade }}, {{ attendance.date }}</span>
     </a>

    {% if perms.reportcard.change_attendance %}
        <a href="{% url 'reportcard:attendance_update' attendance.pk %}" title="Edit" class="marksheet" style="margin-left: 300px;"><i class="fa fa-edit " aria-hidden="true"></i></a>
        <a href={% url 'reportcard:attendance_delete' attendance.pk %} title="Delete" class="marksheet" style="float: right;" ><i class="fa fa-trash-o " aria-hidden="true"></i></a> <br>
     <a href="{% url 'reportcard:attendance_detail' attendance.pk %}" >
        <span style="color:#000;"> Grade {{ attendance.grade }}, {{ attendance.date }}</span>
     </a>
    {% endif %}
    {% empty %}
    Sorry, no Attendance
{% endfor %}
    {% else %}
    You are not allowed...
{% endif %}



</body>
</html>